:root {
  --bp-intent-primary-rest       : var(--semantic-bg-brand-default);
  --bp-intent-primary-hover      : var(--semantic-bg-brand-strong);
  --bp-intent-primary-active     : var(--base-color-brand-11);
  --bp-intent-primary-disabled   : var(--base-color-brand-7);
  --bp-intent-primary-foreground : var(--semantic-fg-on-brand-default);
  --bp-intent-default-rest       : var(--semantic-bg-neutral-default);
  --bp-intent-default-hover      : var(--semantic-bg-neutral-strong);
  --bp-intent-default-active     : var(--base-color-neutral-11);
  --bp-intent-default-disabled   : var(--base-color-neutral-7);
  --bp-intent-default-foreground : var(--semantic-fg-on-neutral-default);
  --bp-intent-success-rest       : var(--semantic-bg-success-default);
  --bp-intent-success-hover      : var(--semantic-bg-success-strong);
  --bp-intent-success-active     : var(--base-color-success-11);
  --bp-intent-success-disabled   : var(--base-color-success-7);
  --bp-intent-success-foreground : var(--semantic-fg-on-success-default);
  --bp-intent-warning-rest       : var(--semantic-bg-warning-default);
  --bp-intent-warning-hover      : var(--semantic-bg-warning-strong);
  --bp-intent-warning-active     : var(--base-color-warning-11);
  --bp-intent-warning-disabled   : var(--base-color-warning-7);
  --bp-intent-warning-foreground : var(--semantic-fg-on-warning-default);
  --bp-intent-danger-rest        : var(--semantic-bg-danger-default);
  --bp-intent-danger-hover       : var(--semantic-bg-danger-strong);
  --bp-intent-danger-active      : var(--base-color-danger-11);
  --bp-intent-danger-disabled    : var(--base-color-danger-7);
  --bp-intent-danger-foreground  : var(--semantic-fg-on-danger-default);
  --bp-emphasis-focus-color      : var(--semantic-border-focus-default);
  --bp-surface-border-radius     : var(--semantic-radius-control);
  --bp-surface-border-width      : var(--semantic-border-width-default);
}
