node_modules/
dist/
storybook-static/
.env
.env.*

# dev 캐시 제외
web/.next/

# next build 산출물. gitignore 빠지면 dev 서버가 뜨지 않음
web/.next-build/
.DS_Store

# flowbite-react 자동 생성 파일
.flowbite-react/

__pycache__/
*.pyc
