
.ods-popover {
  display: flex; flex-direction: column;
  gap: var(--component-popover-gap);
  width: var(--component-popover-width);
  padding: var(--component-popover-padding);
  background: var(--component-popover-bg);
  color: var(--component-popover-fg);
  border: var(--semantic-border-width-default) solid var(--component-popover-border);
  border-radius: var(--component-popover-radius);
  box-shadow: var(--component-popover-shadow);
}
.ods-popover-header { display: flex; flex-direction: column; gap: calc(var(--component-popover-gap) / 2); }
.ods-popover-title {
  margin: 0;
  font-size: var(--component-popover-title-font-size);
  letter-spacing: var(--component-popover-title-letter-spacing);
  line-height: var(--base-font-line-height-snug);
  font-weight: var(--base-font-weight-medium);
}
.ods-popover-description {
  margin: 0;
  color: var(--component-popover-description-fg);
  font-size: var(--component-popover-description-font-size);
  letter-spacing: var(--component-popover-description-letter-spacing);
  line-height: var(--base-font-line-height-normal);
}
