:root {
  --slds-g-color-accent-1                               : var(--semantic-bg-brand-default);
  --slds-g-color-accent-2                               : var(--semantic-bg-brand-strong);
  --slds-g-color-accent-3                               : var(--base-color-brand-11);
  --slds-g-color-accent-light-1                         : var(--semantic-bg-brand-subtlest);
  --slds-g-color-accent-light-2                         : var(--semantic-bg-brand-subtle);
  --slds-g-color-accent-dark-1                          : var(--base-color-brand-11);
  --slds-g-color-accent-dark-2                          : var(--base-color-brand-12);
  --slds-g-color-accent-container-1                     : var(--semantic-bg-brand-subtle);
  --slds-g-color-accent-container-2                     : var(--semantic-bg-brand-subtlest);
  --slds-g-color-accent-container-3                     : var(--semantic-bg-brand-subtle);
  --slds-g-color-on-accent-1                            : var(--semantic-fg-on-brand-default);
  --slds-g-color-on-accent-2                            : var(--semantic-fg-on-brand-subtle);
  --slds-g-color-on-accent-3                            : var(--semantic-fg-on-brand-default);
  --slds-g-color-surface-1                              : var(--semantic-bg-neutral-surface);
  --slds-g-color-surface-2                              : var(--semantic-bg-neutral-subtlest);
  --slds-g-color-surface-3                              : var(--semantic-bg-neutral-subtle);
  --slds-g-color-surface-container-1                    : var(--semantic-bg-neutral-subtlest);
  --slds-g-color-surface-container-2                    : var(--semantic-bg-neutral-subtle);
  --slds-g-color-surface-container-3                    : var(--semantic-bg-neutral-subtle);
  --slds-g-color-surface-inverse-1                      : var(--semantic-bg-neutral-default);
  --slds-g-color-surface-inverse-2                      : var(--semantic-bg-neutral-strong);
  --slds-g-color-surface-container-inverse-1            : var(--semantic-bg-neutral-strong);
  --slds-g-color-surface-container-inverse-2            : var(--semantic-bg-neutral-default);
  --slds-g-color-on-surface-1                           : var(--semantic-fg-neutral-default);
  --slds-g-color-on-surface-2                           : var(--semantic-fg-neutral-subtle);
  --slds-g-color-on-surface-3                           : var(--semantic-fg-neutral-subtlest);
  --slds-g-color-on-surface-inverse-1                   : var(--semantic-fg-on-neutral-default);
  --slds-g-color-on-surface-inverse-2                   : var(--semantic-fg-on-neutral-subtle);
  --slds-g-color-border-1                               : var(--semantic-border-neutral-default);
  --slds-g-color-border-2                               : var(--semantic-border-neutral-subtle);
  --slds-g-color-border-base-1                          : var(--semantic-border-neutral-subtle);
  --slds-g-color-border-base-2                          : var(--semantic-border-neutral-default);
  --slds-g-color-border-base-3                          : var(--semantic-border-neutral-strong);
  --slds-g-color-border-base-4                          : var(--semantic-border-neutral-strong);
  --slds-g-color-border-brand-1                         : var(--semantic-border-brand-default);
  --slds-g-color-border-brand-2                         : var(--semantic-border-brand-strong);
  --slds-g-color-border-accent-1                        : var(--semantic-border-brand-default);
  --slds-g-color-border-accent-2                        : var(--semantic-border-brand-strong);
  --slds-g-color-border-accent-3                        : var(--semantic-border-brand-default);
  --slds-g-color-border-error-1                         : var(--semantic-border-danger-default);
  --slds-g-color-border-error-2                         : var(--semantic-border-danger-strong);
  --slds-g-color-border-success-1                       : var(--semantic-border-success-default);
  --slds-g-color-border-success-2                       : var(--semantic-border-success-strong);
  --slds-g-color-border-warning-1                       : var(--semantic-border-warning-default);
  --slds-g-color-border-disabled-1                      : var(--semantic-border-neutral-subtle);
  --slds-g-color-border-disabled-2                      : var(--semantic-border-neutral-subtle);
  --slds-g-color-border-inverse-1                       : var(--semantic-fg-neutral-default);
  --slds-g-color-border-inverse-2                       : var(--semantic-fg-neutral-subtle);
  --slds-g-color-error-1                                : var(--semantic-bg-danger-default);
  --slds-g-color-error-container-1                      : var(--semantic-bg-danger-subtle);
  --slds-g-color-error-container-2                      : var(--semantic-bg-danger-subtlest);
  --slds-g-color-on-error-1                             : var(--semantic-fg-on-danger-default);
  --slds-g-color-on-error-2                             : var(--semantic-fg-on-danger-subtle);
  --slds-g-color-success-1                              : var(--semantic-bg-success-default);
  --slds-g-color-success-container-1                    : var(--semantic-bg-success-subtle);
  --slds-g-color-success-container-2                    : var(--semantic-bg-success-subtlest);
  --slds-g-color-on-success-1                           : var(--semantic-fg-on-success-default);
  --slds-g-color-on-success-2                           : var(--semantic-fg-on-success-subtle);
  --slds-g-color-warning-1                              : var(--semantic-bg-warning-default);
  --slds-g-color-warning-container-1                    : var(--semantic-bg-warning-subtle);
  --slds-g-color-on-warning-1                           : var(--semantic-fg-on-warning-default);
  --slds-g-color-disabled-1                             : var(--semantic-bg-neutral-subtle);
  --slds-g-color-disabled-2                             : var(--semantic-bg-neutral-subtlest);
  --slds-g-color-disabled-container-1                   : var(--semantic-bg-neutral-subtle);
  --slds-g-color-disabled-container-2                   : var(--semantic-bg-neutral-subtlest);
  --slds-g-color-on-disabled-1                          : var(--semantic-fg-neutral-subtlest);
  --slds-g-color-on-disabled-2                          : var(--semantic-fg-neutral-subtle);
  --slds-c-button-brand-color-background                : var(--semantic-bg-brand-default);
  --slds-c-button-brand-color-background-hover          : var(--semantic-bg-brand-strong);
  --slds-c-button-brand-color-background-active         : var(--semantic-bg-brand-strong);
  --slds-c-button-brand-color-border                    : var(--semantic-bg-brand-default);
  --slds-c-button-brand-color-border-hover              : var(--semantic-bg-brand-strong);
  --slds-c-button-brand-color-border-active             : var(--semantic-bg-brand-strong);
  --slds-c-button-brand-text-color                      : var(--semantic-fg-on-brand-default);
  --slds-c-button-brand-text-color-hover                : var(--semantic-fg-on-brand-default);
  --slds-c-button-brand-text-color-active               : var(--semantic-fg-on-brand-default);
  --slds-c-button-destructive-color-background          : var(--semantic-bg-danger-default);
  --slds-c-button-destructive-color-background-hover    : var(--semantic-bg-danger-strong);
  --slds-c-button-destructive-color-background-active   : var(--semantic-bg-danger-strong);
  --slds-c-button-destructive-color-border              : var(--semantic-bg-danger-default);
  --slds-c-button-destructive-color-border-hover        : var(--semantic-bg-danger-strong);
  --slds-c-button-destructive-color-border-active       : var(--semantic-bg-danger-strong);
  --slds-c-button-destructive-text-color                : var(--semantic-fg-on-danger-default);
  --slds-c-button-destructive-text-color-hover          : var(--semantic-fg-on-danger-default);
  --slds-c-button-destructive-text-color-active         : var(--semantic-fg-on-danger-default);
  --slds-c-button-success-color-background              : var(--semantic-bg-success-default);
  --slds-c-button-success-color-background-hover        : var(--semantic-bg-success-strong);
  --slds-c-button-success-color-background-active       : var(--semantic-bg-success-strong);
  --slds-c-button-success-color-border                  : var(--semantic-bg-success-default);
  --slds-c-button-success-color-border-hover            : var(--semantic-bg-success-strong);
  --slds-c-button-success-color-border-active           : var(--semantic-bg-success-strong);
  --slds-c-button-success-text-color                    : var(--semantic-fg-on-success-default);
  --slds-c-button-success-text-color-hover              : var(--semantic-fg-on-success-default);
  --slds-c-button-success-text-color-active             : var(--semantic-fg-on-success-default);
  --slds-c-button-neutral-color-background              : var(--semantic-bg-neutral-surface);
  --slds-c-button-neutral-color-background-hover        : var(--semantic-bg-neutral-subtle);
  --slds-c-button-neutral-color-background-active       : var(--semantic-bg-neutral-subtle);
  --slds-c-button-neutral-color-border                  : var(--semantic-border-neutral-default);
  --slds-c-button-neutral-color-border-hover            : var(--semantic-border-neutral-strong);
  --slds-c-button-neutral-color-border-active           : var(--semantic-border-neutral-strong);
  --slds-c-button-outline-brand-color-background-hover  : var(--semantic-bg-brand-subtlest);
  --slds-c-button-outline-brand-color-background-active : var(--semantic-bg-brand-subtle);
  --slds-c-button-outline-brand-color-border            : var(--semantic-border-brand-default);
  --slds-c-button-outline-brand-color-border-hover      : var(--semantic-border-brand-strong);
  --slds-c-button-outline-brand-color-border-active     : var(--semantic-border-brand-strong);
}
