:root {
  --color-primary-50  : var(--base-color-brand-1);
  --color-primary-100 : var(--base-color-brand-3);
  --color-primary-200 : var(--base-color-brand-5);
  --color-primary-300 : var(--base-color-brand-6);
  --color-primary-400 : var(--base-color-brand-8);
  --color-primary-500 : var(--base-color-brand-9);
  --color-primary-600 : var(--base-color-brand-10);
  --color-primary-700 : var(--base-color-brand-11);
  --color-primary-800 : var(--base-color-brand-11);
  --color-primary-900 : var(--base-color-brand-12);
  --color-gray-50     : var(--base-color-neutral-1);
  --color-gray-100    : var(--base-color-neutral-3);
  --color-gray-200    : var(--base-color-neutral-5);
  --color-gray-300    : var(--base-color-neutral-6);
  --color-gray-400    : var(--base-color-neutral-8);
  --color-gray-500    : var(--base-color-neutral-9);
  --color-gray-600    : var(--base-color-neutral-10);
  --color-gray-700    : var(--base-color-neutral-11);
  --color-gray-800    : var(--base-color-neutral-11);
  --color-gray-900    : var(--base-color-neutral-12);
  --color-red-50      : var(--base-color-danger-1);
  --color-red-100     : var(--base-color-danger-3);
  --color-red-200     : var(--base-color-danger-5);
  --color-red-300     : var(--base-color-danger-6);
  --color-red-400     : var(--base-color-danger-8);
  --color-red-500     : var(--base-color-danger-9);
  --color-red-600     : var(--base-color-danger-10);
  --color-red-700     : var(--base-color-danger-11);
  --color-red-800     : var(--base-color-danger-11);
  --color-red-900     : var(--base-color-danger-12);
  --color-green-50    : var(--base-color-success-1);
  --color-green-100   : var(--base-color-success-3);
  --color-green-200   : var(--base-color-success-5);
  --color-green-300   : var(--base-color-success-6);
  --color-green-400   : var(--base-color-success-8);
  --color-green-500   : var(--base-color-success-9);
  --color-green-600   : var(--base-color-success-10);
  --color-green-700   : var(--base-color-success-11);
  --color-green-800   : var(--base-color-success-11);
  --color-green-900   : var(--base-color-success-12);
  --color-yellow-50   : var(--base-color-warning-1);
  --color-yellow-100  : var(--base-color-warning-3);
  --color-yellow-200  : var(--base-color-warning-5);
  --color-yellow-300  : var(--base-color-warning-6);
  --color-yellow-400  : var(--base-color-warning-8);
  --color-yellow-500  : var(--base-color-warning-9);
  --color-yellow-600  : var(--base-color-warning-10);
  --color-yellow-700  : var(--base-color-warning-11);
  --color-yellow-800  : var(--base-color-warning-11);
  --color-yellow-900  : var(--base-color-warning-12);
  --color-blue-50     : var(--base-color-info-1);
  --color-blue-100    : var(--base-color-info-3);
  --color-blue-200    : var(--base-color-info-5);
  --color-blue-300    : var(--base-color-info-6);
  --color-blue-400    : var(--base-color-info-8);
  --color-blue-500    : var(--base-color-info-9);
  --color-blue-600    : var(--base-color-info-10);
  --color-blue-700    : var(--base-color-info-11);
  --color-blue-800    : var(--base-color-info-11);
  --color-blue-900    : var(--base-color-info-12);
}
