:root {
  --color-primary         : var(--semantic-bg-brand-default);
  --color-primary-content : var(--semantic-fg-on-brand-default);
  --color-neutral         : var(--semantic-bg-neutral-default);
  --color-neutral-content : var(--semantic-fg-on-neutral-default);
  --color-success         : var(--semantic-bg-success-default);
  --color-success-content : var(--semantic-fg-on-success-default);
  --color-warning         : var(--semantic-bg-warning-default);
  --color-warning-content : var(--semantic-fg-on-warning-default);
  --color-error           : var(--semantic-bg-danger-default);
  --color-error-content   : var(--semantic-fg-on-danger-default);
  --color-info            : var(--semantic-bg-info-default);
  --color-info-content    : var(--semantic-fg-on-info-default);
  --color-base-100        : var(--semantic-bg-neutral-surface);
  --color-base-200        : var(--semantic-bg-neutral-subtlest);
  --color-base-300        : var(--semantic-bg-neutral-subtle);
  --color-base-content    : var(--semantic-fg-neutral-default);
  --radius-box            : var(--semantic-radius-container);
  --radius-field          : var(--semantic-radius-control);
  --radius-selector       : var(--semantic-radius-selection);
  --border                : var(--semantic-border-width-default);
  --size-field            : calc((var(--component-button-md-padding-block) * 2 + var(--component-button-md-font-size)) / 10);
  --size-selector         : calc(var(--component-checkbox-size) / 6);
}
